<h1>Editar lista</h1>
 
<%= form_with(model: @list, local: true) do |form| %>
    <% if @list.errors.any? %>
        <div id="error_explanation">
        <h2>
            <%= pluralize(@list.errors.count, "error") %> preveniu a lista de ser salva:
        </h2>
        <ul>
            <% @list.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
 
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label :public %><br>
      <%= form.check_box :public %>
    </p>
    
    <p>
        <%= form.submit %>
    </p>
        
    <%= link_to 'Apagar', list_path(@list),
        method: :delete,
        data: {confirm: "Tem certeza que deseja deletar?"} %>
<% end %>
        
<%= link_to 'Todas as listas', lists_path %>