<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Lists", lists_path() %></li>
    <li class="breadcrumb-item active" aria-current="page">New List</li>
  </ol>
</nav>

<h3>New list</h3>

<%= form_with scope: :list, url: lists_path, local: true do |form| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@list.errors.count, "error") %> preveniu a lista de ser salva:
      </h2>
      <ul>
        <% @list.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :title %><br>
        <%= form.text_field :title, {class: "form-control"} %>
      </div>
      <div class="form-check">
        <%= form.check_box :public, {class: "form-check-input"} %>
        <%= form.label :public, {class: "form-check-label"} %><br>
      </div>
      <%= form.submit 'Submit', {class: "btn btn-primary"} %>
    </div>
  </div>
<% end %>

