<h1>Nova lista</h1>

<%= form_with scope: :list, url: lists_path, local: true do |form| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@list.errors.count, "error") %> preveniu a lista de ser salva:
      </h2>
      <ul>
        <% @list.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :public %><br>
    <%= form.check_box :public %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to "Todas as listas", lists_path() %>